body {
  margin-top: 50px;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.inner {
  width: 770px;
  margin: 0 auto;
  position: relative;
}

#header {
  display: flex;
  justify-content: right;
  padding: 10px;
}

#header button {
  font-size: 28px;
  padding: 10px;
  width: auto;
  color: black;
}

#container {
  display: none;
}

#titleSection {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#titleSection button {
  background-color:#92a1d1;
}

#mainDetail{
  padding: 10px;
  font-size: 20px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

#mainDetail p {

}

#mainTable {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 154px;
  padding: 10px;
  height: 130px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 0px 3px red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cell + #currentCell {
  background-color:orange;
}

#titleChangeModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}

#titleChangeInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}

#saveBtn {
  background-color: #92a1d1;
}

#cancelBtn {
  background-color: #d36c6c;
}